<div class="p-0">
  <div class="row">
    <div class="col-md-12 header">
      <div class="row d-flex justify-content-left">
        <div
          class="col-md-1 d-flex justify-content-center align-items-center P-0"
        >
          <mat-icon>search</mat-icon>
        </div>
        <div class="col-md-11 d-flex justify-content-left">
          <- University Explorer
        </div>
      </div>
      <!-- Top-level content, you can customize this as needed -->
    </div>
    <div class="col-md-12 mt-4">
      <div class="row">
        <div
          class="col d-flex align-items-start justify-content-center"
          color="primary"
        >
          <button
            mat-raised-button
            (click)="addNewCourse()"
            color="primary"
            class="save-button"
          >
            Add New Course
          </button>
        </div>
        <div class="col-md-10 d-f">
          <!-- Filter and Table Section -->
          <div>
            <mat-form-field appearance="fill" class="w-100">
              <mat-label>Filter</mat-label>
              <input
                matInput
                (keyup)="applyFilter($event)"
                placeholder="Ex. University, City, Course Name"
                #input
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="isMode">
      <div class="row">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
          <ng-container matColumnDef="actions">
            <th class="abc" mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let row">
              <div class="row">
                <div class="col-md-6 d-flex justify-content-center">
                  <mat-icon
                    color="primary"
                    class="action-icon"
                    (click)="onEditAction(row._id)"
                    >edit</mat-icon
                  >
                </div>

                <div class="col-md-6">
                  <mat-icon
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    color="warn"
                    class="action-icon"
                    (click)="assigner_(row._id)"
                    >delete</mat-icon
                  >
                </div>
              </div>
            </td>
          </ng-container>
          <!-- CourseName Column -->
          <ng-container matColumnDef="CourseName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Course Name
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              matTooltip="{{ row.CourseDescription }}"
              class="muk"
            >
              {{ row.CourseName }}
            </td>
          </ng-container>

          <!-- Country Column -->
          <ng-container matColumnDef="Country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td
              mat-cell
              *matCellDef="let row"
              class="muk"
              matTooltip="{{ row.CourseDescription }}"
            >
              {{
                row.Country +
                  " " +
                  "," +
                  " " +
                  row.City +
                  " " +
                  "," +
                  " " +
                  row.CourseDescription
              }}
            </td>
          </ng-container>

          <!-- CourseDescription Column -->
          <ng-container matColumnDef="CourseDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Course Description
            </th>
            <td mat-cell *matCellDef="let row">{{ row.CourseDescription }}</td>
          </ng-container>

          <!-- StartDate Column -->
          <ng-container matColumnDef="StartDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Start Date
            </th>
            <td mat-cell *matCellDef="let row">{{ row.StartDate | date }}</td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
            <td mat-cell *matCellDef="let row">
              {{ row.Price | currency : row.Currency }}
            </td>
          </ng-container>

          <!-- Header and Row Definition -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="10">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
          aria-label="Select page of users"
        ></mat-paginator>
      </div>
    </div>
    <div class="col-md-12" *ngIf="!isMode">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="row d-flex">
          <!-- Course Name -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                Course Name
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter Course Name</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="CourseName"
                    [matAutocomplete]="autoCourseName"
                  />
                </mat-form-field>
                <mat-autocomplete #autoCourseName="matAutocomplete">
                  <mat-option
                    *ngFor="let item of auto_data"
                    [value]="item.CourseName"
                  >
                    {{ item.CourseName }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>

          <!-- University -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                University
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter University</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="University"
                    [matAutocomplete]="autoUniversity"
                  />
                </mat-form-field>
                <mat-autocomplete #autoUniversity="matAutocomplete">
                  <mat-option
                    *ngFor="let item of auto_data"
                    [value]="item.University"
                  >
                    {{ item.University }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>

          <!-- Country -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                Country
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter Country</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="Country"
                    [matAutocomplete]="autoCountry"
                  />
                </mat-form-field>
                <mat-autocomplete #autoCountry="matAutocomplete">
                  <mat-option
                    *ngFor="let item of auto_data"
                    [value]="item.Country"
                  >
                    {{ item.Country }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>

          <!-- City -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                City
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter City</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="City"
                    [matAutocomplete]="autoCity"
                  />
                </mat-form-field>
                <mat-autocomplete #autoCity="matAutocomplete">
                  <mat-option
                    *ngFor="let item of auto_data"
                    [value]="item.City"
                  >
                    {{ item.City }}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>

          <!-- Price -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                Price
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Enter Price</mat-label>
                      <input matInput type="text" formControlName="Price" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-form-field">
                      <mat-label>Enter Currency</mat-label>
                      <input
                        matInput
                        type="text"
                        formControlName="Currency"
                        [matAutocomplete]="autoCurrency"
                      />
                      <mat-autocomplete #autoCurrency="matAutocomplete">
                        <mat-option
                          *ngFor="let item of auto_data"
                          [value]="item.Currency"
                        >
                          {{ item.Currency }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Start Date -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                Start Date
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerStart"
                    formControlName="StartDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="pickerStart"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- End Date -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                End Date
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field>
                  <mat-label>Choose a date</mat-label>
                  <input
                    matInput
                    [matDatepicker]="pickerEnd"
                    formControlName="EndDate"
                  />
                  <mat-datepicker-toggle
                    matIconSuffix
                    [for]="pickerEnd"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #pickerEnd></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Description -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                Description
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter Description</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="CourseDescription"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>

          <!-- Action Buttons -->
          <div class="col-md-12">
            <div class="row">
              <div
                class="col-md-4 d-flex justify-content-center align-items-center"
              >
                What do you want to do?
              </div>
              <div class="col-md-8 d-flex justify-content-start">
                <div class="row">
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-primary">
                      Confirm
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      (click)="cancelAdd()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Placement -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document" id="exampleModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Are you sure you want to delete?
        </h5>
      </div>
      <div class="modal-body">
        <!-- Place your modal body content here -->
      </div>
      <div class="modal-footer">
        <div class="col-md-12"></div>
        <button
          type="button"
          class="btn btn-secondary btn-muk"
          data-bs-dismiss="modal"
        >
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          value="assigner"
          (click)="delete_rec(assigner_var)"
          data-dismiss="modal"
        >
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
