<div class="container-fluid p-0">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row d-flex">
      <div class="col-md-12 header">
        <div class="row d-flex justify-content-left">
          <div
            class="col-md-1 d-flex justify-content-center align-items-center P-0"
          >
            <mat-icon>search</mat-icon>
          </div>
          <div class="col-md-11 d-flex justify-content-left">
            <- University Explorer
          </div>
        </div>
        <!-- Top-level content, you can customize this as needed -->
      </div>
      <!-- Course Name -->
      <div class="col-md-12 mt-3">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            Course Name
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field class="example-form-field">
              <mat-label>Enter Course Name</mat-label>
              <input
                matInput
                type="text"
                formControlName="CourseName"
                [matAutocomplete]="autoCourseName"
                [value]="courseName"
              />
            </mat-form-field>
            <mat-autocomplete #autoCourseName="matAutocomplete">
              <mat-option
                *ngFor="let item of auto_data"
                [value]="item.CourseName"
              >
                {{ item.CourseName }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>

      <!-- University -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            University
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field class="example-form-field">
              <mat-label>Enter University</mat-label>
              <input
                [disabled]="true"
                matInput
                type="text"
                [matAutocomplete]="autoUniversity"
                [value]="university"
              />
            </mat-form-field>
            <mat-autocomplete #autoUniversity="matAutocomplete">
              <mat-option
                *ngFor="let item of auto_data"
                [value]="item.University"
              >
                {{ item.University }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>

      <!-- Country -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            Country
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field class="example-form-field">
              <mat-label>Enter Country</mat-label>
              <input
                matInput
                type="text"
                [matAutocomplete]="autoCountry"
                [value]="country"
                [disabled]="true"
              />
            </mat-form-field>
            <mat-autocomplete #autoCountry="matAutocomplete">
              <mat-option *ngFor="let item of auto_data" [value]="item.Country">
                {{ item.Country }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>

      <!-- City -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            City
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field class="example-form-field">
              <mat-label>Enter City</mat-label>
              <input
                matInput
                type="text"
                [matAutocomplete]="autoCity"
                [value]="city"
                [disabled]="true"
              />
            </mat-form-field>
            <mat-autocomplete #autoCity="matAutocomplete">
              <mat-option *ngFor="let item of auto_data" [value]="item.City">
                {{ item.City }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
      </div>

      <!-- Price -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            Price
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter Price</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="Price"
                    [value]="price"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="example-form-field">
                  <mat-label>Enter Currency</mat-label>
                  <input
                    matInput
                    type="text"
                    formControlName="Currency"
                    [matAutocomplete]="autoCurrency"
                    [value]="currency"
                  />
                  <mat-autocomplete #autoCurrency="matAutocomplete">
                    <mat-option
                      *ngFor="let item of auto_data"
                      [value]="item.Currency"
                    >
                      {{ item.Currency }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Start Date -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            Start Date
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerStart"
                formControlName="StartDate"
                [value]="startDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerStart"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- End Date -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            End Date
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field>
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                formControlName="EndDate"
                [value]="endDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="pickerEnd"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Description -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            Description
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <mat-form-field class="example-form-field">
              <mat-label>Enter Description</mat-label>
              <input
                matInput
                type="text"
                formControlName="CourseDescription"
                [value]="courseDescription"
              />
            </mat-form-field>
          </div>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="col-md-12">
        <div class="row">
          <div
            class="col-md-4 d-flex justify-content-center align-items-center"
          >
            What do you want to do?
          </div>
          <div class="col-md-8 d-flex justify-content-start">
            <div class="row">
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary">Confirm</button>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-secondary btn_"
                  (click)="goback()"
                >
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
